.stack {
    margin-top: 10vh;
}

.dev-7x {
    font-size: 7em;
}

.stack-icons i {
    margin: 30px;
}

.card {
    background-image: url(../../../assets/img/projects/maju-initial-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    filter: brightness(0.7);
    box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(136, 136, 136, 0.2);
    }
}

@media only screen and (min-width: 700px) {
    .card {
        width: 100vh;
        height: 56vh;
    }
}

@media only screen and (max-width: 699px) {
    .card {
        width: 70vh;
        height: 39vh;
    }
}