/* You can add global styles to this file, and also import other style files */
@import '~three-dots/sass/three-dots.scss';

$color-white: #ffffff;
$dotColor: #96181e;
$dotBgColor: $dotColor;
$dotBeforeColor: $dotColor;
$dotAfterColor: $dotColor;

.dot-elastic{
    margin: 0 auto;
    &.center {
        width: 100%;
        text-align: center;
    }
}

.center {
    width: 100%;
    text-align: center;
    .dot-elastic {
        margin: 0 auto;
        background-color: $dotColor;
        color: $dotColor;
    }
    .dot-elastic::before {
        background-color: $dotColor;
        color: $dotColor;
    }
    .dot-elastic::after {
        background-color: $dotColor;
        color: $dotColor;
    }

    .footer {
        margin: 0 auto;
    }
}

.container {
    .row {
        display: inline-block;
        margin: auto;
    }

    .contact {
        font-size: x-large;
        color: $color-white;
        margin: 45px;
    }
}