/* You can add global styles to this file, and also import other style files */
@import '~three-dots/sass/three-dots.scss';

.dot-windmill{
    &.center {
    position: relative !important;
    }
}

.center {
    width: 100%;
    text-align: center;
    .dot-elastic {
        margin: 0 auto;
    }
}
